<div class="w-96 h-96 relative bg-white">
  <div
    class="w-96 h-96 left-0 top-0 absolute bg-gradient-to-b from-[#110611] via-[#070b1b] to-[#110611]"
  >
  </div>
  <div
    class="w-96 h-96 left-0 top-0 absolute bg-gradient-to-b from-[#110611] to-[#110611]"
  >
  </div>
</div>
